In [2]:
import pandas as pd

In [28]:
data = pd.read_csv("GSAF5.csv",encoding='iso-8859-1')

In [29]:
# Missing Values
null_cols = data.isnull().sum()
null_cols[null_cols > 0]

Country                     43
Area                       402
Location                   496
Activity                   527
Name                       200
Sex                        567
Age                       2681
Injury                      27
Fatal (Y/N)                 19
Time                      3213
Species                   2934
Investigator or Source      15
href formula                 1
href                         3
Unnamed: 22               5991
Unnamed: 23               5990
dtype: int64

In [32]:
# Eliminación de las columnas Unnamed: 22 y Unnamed: 23 por estar practicamente vacias.
drop_cols = list(null_cols[null_cols > 5000].index)
data = data.drop(drop_cols, axis=1)

In [41]:
data.dtypes

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
dtype: object

In [40]:
display(set(data['Case Number']))

{'1973.12.19.R',
 '1929.00.00.b',
 '2013.08.31.b',
 '1959.03.08',
 '2008.04.03',
 '2002.11.28.a',
 '2012.10.07',
 '2003.12.13.a',
 '2008.06.26.R',
 '1909.12.26.R',
 '2010.11.30.b',
 '2010.09.24',
 '1991.02.12',
 '2014.09.21',
 '1958.08.01',
 '2015.12.11',
 '1920.11.29',
 '1986.10.17',
 '1985.01.00.b',
 '1898.12.28.R',
 '1916.06.24.R',
 'ND.0002',
 '1954.01.22.a',
 '1942.00.00.k',
 '1928.11.04',
 '1950.00.00.e',
 '1999.09.16',
 '1966.12.26',
 '1953.07.09',
 '1911.07.31.R',
 '2004.08.20',
 '1970.10.24',
 '1930.01.16',
 '1905.07.25.R',
 '1967.05.13',
 '2008.01.27',
 '1995.07.28.a',
 '1970.01.23.b',
 '1927.02.09',
 '1864.01.27.R',
 '1921.10.04',
 '2015.08.29.b',
 '1955.00.00.c',
 '1999.02.03',
 '2016.08.29.b',
 '1879.12.24',
 '2005.11.29.R',
 '1976.00.00.b',
 '2012.07.07.b',
 '1916.07.13.b',
 '2007.07.18.b',
 '2013.11.10',
 '1933.08.28.b',
 '1992.09.00',
 '2016.04.22',
 '1943.09.23',
 '1989.10.08',
 '2014.05.27.R',
 '1965.01.23',
 '2006.11.09',
 '1989.07.07',
 '2011.01.26',
 '1923.03.18',
 '2007.07.10',
 '1905.11.17.R',
 '1982.06.29',
 '1960.00.00.d',
 '2013.03.10.a',
 '1954.04.08',
 '1875.00.00',
 '1858.01.09.R',
 '1943.03.02.b',
 '2015.08.18.a',
 '1928.02.00.b',
 '1959.07.00.b',
 '1937.08.16',
 '2015.07.04.b',
 '1950.07.21',
 '1849.06.08.b',
 '1949.05.13',
 '1963.09.13',
 '2009.09.15',
 '1966.08.27.a',
 '1851.00.00',
 '2006.12.11',
 '1983.07.26',
 '2001.09.08',
 '1969.06.00',
 '1962.01.10',
 '2006.03.23',
 '2016.07.16.b',
 '2012.12.05',
 '1884.08.18',
 '1887.12.04',
 '2014.05.10.R',
 '2014.12.03.R',
 '1984.02.18',
 '1983.01.10',
 '1997.07.27',
 '1932.04.16.a',
 '1962.01.11.c',
 '1961.00.00.e',
 '1976.11.06',
 '1852.10.09.R',
 '2007.07.19.b',
 '1917.07.18',
 '1959.12.26',
 '2006.12.18',
 '1865.00.00',
 '1989.06.29',
 '2008.04.20.b',
 '2002.12.29',
 '1959.10.02',
 '2012.07.21',
 '1948.08.00',
 '1932.01.06',
 '2016.06.24',
 '2003.04.19',
 '2004.09.08',
 '1638.00.00.R',
 '2001.04.12.a',
 '1895.08.02',
 '2006.08.20.a',
 '1953.01.08',
 '2006.11.25',
 '1995.06.02',
 '1950.03.08',
 '1878.09.02.a',
 '1997.08.04',
 '2002.07.04',
 '2001.07.03',
 '2014.04.12.R',
 '1961.07.29',
 '2014.12.28.d',
 '2014.03.29',
 '1926.09.06.R',
 '1991.11.14',
 '1995.06.14',
 '1974.08.05',
 '2013.11.29',
 '1992.01.06',
 '2012.04.00',
 '1779.00.00',
 '1959.00.00.f',
 '1997.08.27',
 '1987.04.01',
 '1935.08.13',
 '1993.08.21',
 '1901.06.29.R',
 '1966.03.20',
 '1958.00.00.e',
 '1899.08.08.a',
 '2012.09.02.a',
 '2014.07.21',
 '1997.05.31.b',
 '2003.10.27',
 '2013.02.21.a',
 '2002.08.07',
 '1995.11.25.b',
 '1966.05.16.b',
 '1990.04.07',
 '1958.11.05',
 '1961.09.26',
 '1900.09.15',
 '1991.11.26.b',
 '1975.07.19',
 '2012.06.14.b',
 '1954.12.29',
 '2007.07.29',
 '2015.06.24.a',
 '2016.07.04',
 '1967.03.09',
 'ND.0104',
 '2001.05.20',
 '1948.02.13',
 '1956.10.27',
 '1995.05.24',
 '2016.08.04',
 'ND.0048',
 '1934.10.08',
 '1994.03.01',
 '2005.11.20',
 '1961.03.12',
 '2003.10.31.a',
 '1989.10.29.R',
 '1952.05.07.R',
 '1941.03.24',
 'ND.0041',
 '1941.11.27.b',
 '1907.00.00.b',
 '1912.01.06',
 '1907.04.20',
 '1867.08.22.R',
 '1949.00.00.b',
 '2010.10.20',
 '1924.01.29',
 '1961.06.18',
 '1945.00.00.a',
 '1972.04.16',
 '1904.00.00.c',
 '2007.11.00',
 '1920.01.15',
 '1997.08.02.a',
 '2004.03.22',
 '1989.01.26.a',
 '1994.04.02',
 '1956.10.20',
 '1893.07.03',
 '1959.04.09..a',
 '1995.01.24',
 '1977.12.19.a',
 '1949.08.10.R',
 '1976.08.26',
 '2006.02.27',
 '1977.12.19.b',
 '2008.03.07',
 '2003.07.26.R',
 '2006.04.23.R',
 '2011.08.23',
 '1967.03.10',
 '1945.00.00.d',
 '1963.10.16',
 '2014.08.10',
 '1875.08.10',
 '1958.01.19',
 '1882.01.23.R',
 '1926.01.00',
 '1924.11.24',
 '1947.02.23',
 '2014.01.04',
 '1950.03.26',
 '1941.00.00.b',
 '2009.04.19',
 '2008.07.25.b',
 '1988.07.19',
 '1877.04.04.',
 '1966.12.31',
 '1911.10.25',
 '1837.09.03',
 '2009.02.08',
 '1979.08.05',
 '1964.07.08.a',
 '1924.04.22',
 '1910.12.25.R',
 '1943.07.00.b',
 '1992.06.28.a',
 '1962.08.00.a',
 '2009.09.02',
 '1894.07.15.R',
 'ND.0073',
 '1983.10.13',
 '2014.08.27.b',
 '1927.01.08.R',
 '2009.03.01.a',
 '1935.06.05.R',
 '2006.05.21',
 '1998.04.26',
 '1924.04.20',
 '1900.00.00.b',
 '1996.08.11',
 '1968.12.26',
 '2003.09.28',
 '1997.02.28.a',
 '1885.04.16.R',
 '2015.01.27',
 '1949.07.28',
 '1954.07.01.R',
 '1958.01.09.R',
 '2011.08.01',
 '1791.00.00',
 '2000.08.21',
 '2003.09.14.c',
 'ND.0009',
 '2003.02.27',
 '1993.05.00.a',
 '2015.08.29.a',
 '2010.10.01',
 '1996.07.20',
 '1997.07.21',
 '1956.08.20',
 '1853.00.00.d',
 '2012.09.04',
 '1924.01.19',
 '2012.07.08',
 '1952.03.30',
 'ND.0027',
 '1929.04.17.R',
 '1861.01.15.R',
 '2014.04.04.a',
 '1991.08.30',
 '1948.11.18',
 '2004.11.27',
 '2000.06.02',
 '2014.06.01.a',
 '2008.06.01.a',
 '2011.04.12',
 '1941.07.01',
 '1962.02.02',
 '2003.12.08',
 '1939.03.24',
 '1928.07.11',
 '1776.00.00.R',
 '1962.01.07.a',
 '2007.04.09',
 '1911.00.00.b',
 'ND.0060',
 '1960.02.29',
 '1934.08.27',
 '2003.07.00.b',
 '2003.10.24',
 '1973.12.00',
 '2013.04.04',
 '2009.07.22.a',
 '1998.09.22',
 '1929.04.11',
 '1961.10.27',
 '1978.04.00',
 '1952.12.03',
 '1939.05.03',
 '1916.12.08.a',
 '1992.09.11',
 '1935.08.24',
 '2011.11.29',
 '2011.12.11',
 '2009.10.30',
 '2000.03.31',
 '1963.12.21',
 '2013.10.23',
 '1895.09.00',
 '2000.03.02',
 '1934.02.24',
 '1927.03.01',
 '2012.03.15',
 '1975.07.04',
 '1988.06.05',
 '2013.08.17',
 '2008.01.19.R',
 '1967.07.29',
 '1960.00.00.i',
 '1959.08.30',
 '1958.07.00.b',
 '1977.10.30',
 '1929.10.20',
 '1923.00.00.b',
 '1934.12.23.b',
 '1987.01.28',
 '1998.01.14',
 '1961.05.07',
 '2008.06.01.b',
 '2008.03.28.c',
 '1876.09.07.R',
 '1947.03.12',
 '2016.03.11',
 '1934.01.08.R',
 '1942.11.16',
 '1937.09.26.R',
 '1918.11.00.b',
 '1939.12.28',
 '1946.01.01',
 '2008.10.08',
 '1961.08.16',
 '2015.08.10',
 '2009.11.16.b',
 '2014.12.29.a',
 '1997.06.02',
 '1973.08.25',
 'ND.0026',
 '1957.02.00',
 '1958.10.00.a',
 '1902.01.25.R',
 '1989.06.03',
 '1930.12.13',
 '2007.06.24',
 '1969.05.25',
 '1959.11.22',
 '1911.04.08.R',
 '1899.12.18',
 '1881.00.00.a',
 '1950.00.00.a',
 '1976.11.25',
 '1963.09.29',
 '2010.10.22',
 '1991.11.00',
 '1988.01.05.R',
 '1903.00.00.a',
 '1972.00.00.b',
 '1980.00.00.c',
 '2014.08.05',
 '1923.05.23.R',
 '1905.01.01',
 '1994.02.13',
 '1967.03.12',
 '2002.04.02',
 '1923.01.27.b',
 '1906.09.00',
 '1891.12.31.R',
 '1984.09.30.b',
 '1956.00.00.a',
 '1941.03.09',
 '1984.00.00.b',
 '1919.01.05',
 '1983.04.12',
 '1986.10.03',
 '1979.10.22',
 '1914.09.26.R',
 '2012.06.14.d',
 '2009.11.08',
 '1985.08.22',
 '1899.11.20',
 '1949.00.00.e',
 '1955.04.13.R',
 '2014.11.20',
 '1958.01.27',
 '2002.07.10',
 '1826.12.00',
 '2001.09.03.b',
 '2013.04.13.a',
 '1998.12.18',
 '1957.00.00.a',
 '1967.04.00',
 '1966.04.08',
 '2013.11.12',
 '1960.05.16',
 '1924.04.25',
 '1964.02.08',
 '1984.09.30.a',
 '1909.08.13',
 '1944.10.25.a',
 '1946.07.18.a',
 '2011.09.11.a',
 '2012.02.20',
 '1902.08.08',
 '1855.11.11',
 'ND-0152',
 '1992.10.11',
 '1976.11.23',
 '2008.04.09.R',
 '1947.11.08.a',
 '1870.05.26.R',
 '1998.05.16.c',
 '1959.04.11',
 '1877.03.16',
 '1993.09.09',
 '1966.01.15',
 '1964.02.17.R',
 '1965.04.10',
 '2015.06.25',
 '1965.11.21.a',
 '1902.02.22.R',
 '2012.02.25',
 '2003.12.26',
 'ND-0136',
 '1996.07.21',
 '2009.11.11',
 '1950.00.00.m',
 '1942.00.00.g',
 '1931.01.24',
 '2011.02.19',
 '1959.05.30',
 'ND.0102',
 '1909.06.26.a.R',
 '2001.01.24',
 '2000.11.06.b',
 '2012.06.12',
 '2000.10.09',
 '2005.03.27.R',
 '2007.03.22',
 '1890.12.30',
 '1946.01.24.b',
 '2000.10.06.b',
 '2005.09.04.a',
 '2011.08.16.c',
 '2015.01.06',
 '1892.05.19.R',
 '1998.07.06.a',
 '1923.01.13',
 '1911.07.16.R',
 '2003.09.19',
 '2007.11.06',
 '2013.09.14',
 '1957.00.00.d',
 '1971.04.05.b',
 'ND.0039',
 '0077.00.00',
 '1829.07.03.R',
 '1884.08.28.R.',
 '2016.01.24.a',
 '1895.03.15',
 '2015.02.15',
 '1954.00.00 f',
 '1999.12.26',
 '2003.06.00',
 '1930.09.26.R',
 '1886.04.26',
 '1966.07.14',
 '1975.06.23.a',
 '2004.07.30',
 '2007.10.13',
 '1913.11.21',
 '1987.07.11',
 '1902.06.00',
 '1936.07.07',
 '1900.00.00.R',
 '1919.01.09',
 '2010.08.10.b',
 '2002.05.22.a',
 '1986.12.22',
 '1960.04.14',
 '1973.00.00.c',
 '1992.03.28',
 '2012.09.24',
 '1976.03.09',
 '1970.06.15',
 '2005.05.15',
 '1879.03.10',
 '1962.03.24',
 '2000.09.08.b',
 '1967.03.01',
 '1961.12.18.a',
 '2004.05.23.b',
 '1954.07.15',
 '2010.11.27',
 '1998.08.01.b',
 '1980.07.23',
 'ND.0008',
 '1962.04.05',
 '1971.09.07',
 '2001.04.12.d',
 '2014.07.27',
 '1914.01.17.R',
 '1997.07.02.R',
 '1999.03.18.a',
 '1978.11.23',
 '1989.00.00.b',
 '1994.06.24',
 '1937.07.16.R',
 '1922.03.13',
 '1978.03.05',
 '1936.08.04',
 '1996.05.24',
 '2002.07.09.b',
 '1961.12.13',
 '1942.11.13.c',
 '1908.12.31',
 '2016.03.02',
 '1852.07.28',
 '1951.08.17.a',
 '2012.08.11',
 '1974.02.13.b',
 '1997.02.28.b',
 '1966.01.22',
 '1955.09.04',
 '1933.06.16',
 '2000.07.07',
 '2015.01.17',
 '1937.05.30',
 '1984.09.22.a',
 '1805.09.00',
 '1982.07.24.b',
 '2014.10.05.b',
 '1983.01.08',
 '1975.02.10',
 '2000.05.13',
 '1981.09.27',
 '2016.09.04',
 '1989.09.03',
 '1977.06.26',
 '1945.03.06',
 '1817.05.11',
 '2015.03.31',
 '1943.12.04',
 '2013.08.29',
 '1951.11.28.b',
 '1990.02.05',
 '1960.06.24',
 'ND-0109',
 '1903.01.10',
 '1946.01.17',
 '1945.09.16',
 '1905.00.00',
 '2008.07.09',
 '1989.10.01',
 '2000.08.10',
 '1998.01.17',
 '1951.11.29',
 '2007.07.21',
 '2013.06.16',
 '2010.06.27',
 '1936.07.12',
 '1880.00.00.a',
 '1999.09.24',
 '1990.04.01',
 '1984.07.24.b',
 '2006.04.09.a',
 '1978.07.19',
 '2004.10.06',
 '1909.07.15',
 '1937.08.31',
 '1993.08.19',
 '2013.06.25.c',
 '2000.09.11',
 '1887.00.00',
 '1906.10.10.b.R',
 '1969.08.29',
 '1998.07.11',
 '1906.04.14',
 '1984.09.22.b',
 '1974.01.07.c',
 '1942.00.00.c',
 '1963.11.28',
 '1861.11.10',
 '2000.10.18',
 '1999.08.05',
 '2010.08.02.b',
 '1880.01.22',
 '1899.00.00.a',
 '2016.08.25',
 '1951.10.05',
 '1994.05.31.a',
 '2009.10.18',
 '1979.06.19',
 '2007.06.05',
 '1959.01.17.b',
 '2014.08.02',
 '2012.11.04.b',
 '2009.12.12',
 '2009.03.19.a',
 '1994.01.03',
 '2012.03.01',
 '1885.11.26',
 '2015.05.20',
 '2009.08.30',
 '1987.12.13',
 '1954.12.04',
 '1891.08.30.R',
 '2011.06.01',
 '2014.05.15',
 '1936.02.23',
 '1959.10.04',
 '1997.10.28.a',
 '1842.07.06',
 '1969.07.27',
 '2015.01.19.a',
 '1928.04.09',
 '1933.08.28.a',
 '2009.01.18',
 '1988.11.07',
 '2010.07.17.a',
 '1998.05.29.b',
 '1983.08.13.b',
 '2000.07.25',
 '2015.09.24',
 '2006.09.03.b',
 '2008.07.05',
 '1985.02.18',
 '1932.02.08',
 '1994.08.22',
 '1960.11.00.b',
 '1924.03.24',
 '1998.08.27',
 '2014.06.17.R',
 '1959.12.19.b',
 '1949.08.28.a',
 '2003.05.25',
 '1914.07.07',
 '2001.04.11.a',
 '1983.10.17.a',
 '1916.08.24',
 '2005.08.19',
 '2009.02.11',
 '1951.09.02-R',
 '2006.09.11',
 '1995.07.28.b',
 '1960.00.00.f',
 '1998.08.23.R',
 '2015.07.06',
 '1920.03.08',
 'ND.0023',
 '2014.08.29.b',
 '1958.06.26',
 '1962.07.20',
 '1957.09.02',
 '1986.12.04',
 '1979.12.21',
 '2015.06.26.a',
 '1959.11.16',
 '1960.08.22.R.',
 '1951.08.00',
 '1852.12.19',
 '1929.03.12',
 '2003.04.18',
 '1864.09.00',
 '2003.05.14',
 '2008.01.10',
 '1886.04.11',
 '2000.02.21',
 '1999.01.03',
 '1960.00.00.a',
 'ND.0047',
 '1942.06.00',
 '2001.06.12',
 '1999.02.26.R',
 '1975.08.04',
 '2002.06.03',
 '1987.12.17',
 '1950.06.25',
 '1877.03.11',
 '1936.09.04',
 '1758.00.00',
 '1902.06.02',
 '1894.08.21',
 '1935.04.12.R',
 '1967.08.07',
 '2012.05.12',
 '2007.05.04',
 '2011.06.14.R',
 '1924.03.28.R',
 '1893.04.04',
 '1956.08.01',
 '2004.02.26',
 '2016.05.29.b',
 '1977.08.19',
 '1993.05.00.b',
 '2008.02.07',
 '2008.06.07',
 '1845.12.26',
 '2016.07.23.a',
 '1771.07.12.R',
 '1972.02.20',
 '2000.05.09',
 '2015.12.19',
 '1985.03.16',
 '1980.08.04',
 '1946.01.07',
 '1963.02.06',
 '1887.12.22.R',
 '2010.02.03',
 '1976.05.02',
 '2006.02.08',
 '1959.01.15',
 '1996.10.00',
 '2000.10.20',
 '1998.12.22',
 '2006.10.31',
 '1939.09.27.R',
 '2009.12.20.a',
 '1901.07.30',
 '1973.08.27',
 '1906.01.20',
 '2009.01.24.a',
 '2004.03.31.b',
 '2001.05.23 ',
 '1969.05.14',
 '1983.06.22',
 '1998.03.31',
 '1933.05.23',
 '2011.08.28.a',
 '1942.07.06',
 'ND-0106',
 '1981.06.15.R',
 '2004.02.16',
 '2008.07.00',
 '1874.04.20.R',
 '1935.01.17',
 '2001.04.13.a',
 '2008.03.21',
 '1844.00.00',
 '2002.09.16.a',
 '1919.08.10',
 '2002.03.19',
 '1992.08.25',
 '1852.02.26',
 '1994.00.00.b',
 '2001.08.29',
 '1995.02.19',
 '2012.03.03',
 '2002.01.01.a',
 '2005.01.14',
 '1961.02.00',
 '2000.08.13',
 '1955.02.00',
 '2005.04.13',
 '1953.02.00',
 '1998.01.25.b',
 '1893.00.00',
 '2014.10.17',
 '2001.08.03',
 '1998.05.30',
 '1984.08.07',
 '1940.01.15',
 '1885.08.17',
 '1983.08.06',
 '1951.06.25',
 '2009.01.27.R',
 '2014.05.22',
 '1991.11.26.a',
 '2009.04.21',
 '1842.00.00.a',
 '2008.06.28.a',
 '1969.00.00',
 '1898.00.00.f',
 '1999.12.14',
 '1937.00.00',
 '1975.02.14.R',
 '2014.10.31',
 '1918.00.00',
 '2004.05.28',
 '1982.09.30.a',
 '1950.08.06',
 '1964.07.27',
 '2016.05.22',
 '1957.07.09',
 '2002.09.21.a',
 '2008.05.24.a',
 '1930.05.11',
 '2000.09.10.b',
 '1949.12.00.b',
 '1906.11.16',
 '2013.07.28.a',
 '2008.08.30.a',
 '2003.11.30.a',
 '1935.01.24.b',
 'ND.0082',
 '2006.08.15',
 '1961.07.00.a',
 '2001.03.00',
 'ND.0086',
 '2010.11.15',
 '2015.05.15',
 '2003.07.00.c',
 '1973.08.16',
 '1878.10.24.R',
 '1855.02.12.R',
 '2015.11.15.a',
 '1956.01.16',
 '1974.09.28',
 '1980.01.25',
 '1909.01.17',
 '1926.07.03',
 '1830.07.02.R',
 '1999.09.10',
 '2001.03.09',
 '2005.07.27',
 '2001.08.19.b',
 '1987.01.06',
 '1943.03.21',
 '1942.09.11',
 '1956.05.26.R',
 '2012.11.30',
 '1959.08.14.b',
 '1996.02.05',
 '1994.10.08',
 '1975.11.02',
 '2008.08.27',
 '1992.11.05.a',
 '1999.00.00.a',
 'ND.0063',
 '2008.03.28.b',
 '1925.05.00',
 '1961.04.16.a',
 '1981.01.01',
 '1975.05.20',
 '1938.00.00.b',
 '1958.11.07.R',
 '1936.11.27',
 '2000.08.12',
 '1965.07.30',
 '2007.01.25.b',
 '1916.12.08.b',
 '1972.06.10',
 '1937.03.09',
 '1946.10.26.R',
 '2002.04.21',
 '2007.10.29',
 '2002.09.21.b',
 '1929.02.08',
 '2002.12.24',
 '1966.02.27',
 '1998.11.02.a',
 '1995.06.16',
 '1988.02.14',
 '1916.07.06',
 '1965.06.18',
 'ND.0010',
 '1938.01.18',
 '1983.04.19',
 '1967.09.07.b',
 'ND.0040',
 '1898.00.00.d',
 '1965.03.23',
 '2002.01.03',
 '2013.02.21.b',
 '1976.06.10',
 '1885.07.26.b',
 '1866.04.24.R',
 '1930.07.19',
 '1964.07.00.a',
 '1941.00.00.f',
 'ND.0012',
 '1894.09.06.R',
 '2016.09.18.b',
 '2011.08.15',
 '1925.03.27',
 '1963.04.17',
 '1942.11.21',
 '1964.01.18',
 '1948.09.02',
 '2014.09.03',
 '2009.09.26',
 '2003.10.05.a',
 '1886.08.00.c',
 '1839.04.14',
 '1962.01.14.b',
 '1922.07.19',
 '2016.03.28.a',
 '2006.07.17',
 '2006.12.06',
 '1923.01.27.a',
 '2016.03.31',
 '1992.12.23',
 '2005.09.05',
 '2014.08.27.c',
 '2011.08.17.c.',
 '1966.09.18',
 '2002.05.07',
 '1995.09.17',
 '2001.09.02',
 '2014.09.02',
 '1935.06.00.b',
 '1970.04.04',
 '1966.09.08.b',
 '2010.01.12',
 '1987.00.00.a',
 '1940.07.13.b',
 'ND.0014',
 'ND.0013',
 '2010.07.19',
 '2002.09.27.a',
 '2011.12.05',
 '1998.05.25',
 '1984.03.14',
 '1951.01.21',
 '1904.08.00',
 '1960.10.25',
 '1997.08.30',
 '2008.09.06.b',
 '2003.07.15',
 '1964.01.00',
 '1901.07.17',
 '1960.09.22',
 '2004.11.11.b',
 '1988.02.13',
 '1981.11.09',
 '1959.09.00',
 '1966.12.27.a',
 '1967.06.00',
 '1938.07.17',
 '1915.12.09.R',
 '2011.12.25',
 '1882.05.12.R',
 '1932.06.20',
 '1942.01.18',
 '1960.04.03.a',
 '1956.08.00.b',
 '1865.09.02',
 '2013.10.26.b',
 '1994.02.12',
 '1940.02.04',
 '1847.11.30',
 '2013.08.11',
 '1960.10.00.d',
 '2003.08.19',
 '2006.09.18.R',
 '2015.03.07',
 '1953.07.31',
 '1912.02.22',
 '1901.09.23.R',
 '2005.10.21',
 '1870.05.18',
 '2008.07.27',
 '2002.11.02',
 '2003.08.12',
 '2015.12.08',
 '2010.05.03',
 '1929.06.23',
 '2016.02.12',
 '1996.07.10',
 '1911.11.08',
 '2004.07.02.b',
 '1907.07.00',
 '2011.01.28',
 '1845.00.00.R',
 '1925.00.00',
 '2010.07.02.a',
 '1966.08.14',
 '2000.10.06.a',
 '1886.03.00',
 '2011.08.17.b.',
 '1914.03.03',
 '1890.02.25',
 ...}

In [43]:
case_number = data.sort_values(by=['Case Number'])
for e in case_number:

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
5868,0.0214,Ca. 214 B.C.,0,Unprovoked,NaN,Ionian Sea,NaN,Ascending from a dive,"Tharsys, a sponge diver",M,...,Y,NaN,NaN,"Reported by Greek poet, Leonidas of Tarentum (...",214BC-Tharsys.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0214,0.0214,125
5869,0.0336,Ca. 336.B.C..,0,Unprovoked,GREECE,Piraeus,In the haven of Cantharus,Washing his pig in preparation for a religious...,A candidate for initiation,M,...,Y,NaN,NaN,Plutarch (45 - 125 A.D.) in Life of Phoecion (...,336-BC-Carnathus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0336,0.0336,124
5870,0.0493,493 B.C.,0,Sea Disaster,GREECE,Off Thessaly,NaN,Shipwrecked Persian Fleet,NaN,M,...,N,NaN,NaN,Herodotus (485 - 425 B.C.),493BC-PersianFleet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0493,0.0493,123
5871,0.0725,Ca. 725 B.C.,0,Sea Disaster,ITALY,Tyrrhenian Sea,"Vase found during excavations at Lacco Ameno, ...",NaN,NaN,NaN,...,N,NaN,NaN,V.M. Coppleson (1958),725BC-vase.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0.0725,0.0725,122
5867,0005.00.00,Ca. 5 A.D.,5,Unprovoked,AUSTRALIA,New South Wales,Bondi,NaN,male,M,...,N,NaN,NaN,Waverly Library,0005.00.00-AustralianAboriginal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,0005.00.00,0005.00.00,126
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5906,ND.0100,2003?,0,Unprovoked,BAHAMAS,Andros Islands,Great Guana Cay,Spearfishing,C.D. Dollar,M,...,N,NaN,1.8 m [6'] shark,"R.D. Weeks, GSAF",ND-0100-CDDollar.pdf,Q93http://sharkattackfile.net/spreadsheets/pdf...,Q93http://sharkattackfile.net/spreadsheets/pdf...,ND.0100,ND.0100,87
5905,ND.0102,"No date, Before 1963",0,Unprovoked,BAHREIN,NaN,NaN,Pearl diving,male,M,...,Y,NaN,Tiger shark,A.C. Doyle,ND-0102-Bahrein.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0102,ND.0102,88
5904,ND.0104,1950s,0,Unprovoked,AUSTRALIA,Torres Strait,NaN,Helmet diving,male,M,...,N,NaN,Tiger shark,"A. Seekee & R. Callinan, Courier-Mail, 7/7/199...",ND-0104-HelmetDiver.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0104,ND.0104,89
5899,ND.0110,"No date, late 1960s",0,Unprovoked,VENEZUELA,Los Roques Islands,NaN,Spearfishing,4 French divers,M,...,Y,NaN,said to involve 2.5 m hammerhead sharks,http://waterco.com.br/ataque_tubarao.htm,ND-0110-FrenchDivers.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0110,ND.0110,94
5896,nd-0114,Before 2012,0,Unprovoked,NaN,NaN,In a river feeding into the Bay of Bengal,Netting shrimp,Sametra Mestri,F,...,N,NaN,NaN,National Georgraphic Television,ND-0114-BayOfBengal.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,nd-0114,nd-0114,97